.header {
  background-color: rgb(0, 0, 0);
  color: rgb(155, 155, 155);
  font-weight: bold;
  padding: 30px 0px 30px 0px;
}

.header_list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding-right: 0.5rem;
}

@media (max-width: 670px) {
  .header_list {
    display: none;
  }
}

.header_unit {
  padding: 0px 10px 0px 10px;
  font-size: 1.2rem;
}

.main {
  font-family: sans-serif;
  color: rgb(240, 240, 240);
  background-color: rgb(26, 26, 26);
}

.top {
  color: #000;
  height: 45rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top_flame {
  padding-bottom: 8rem;
}

.top_pic {
  opacity: 0.5;
  text-align: center;
}

.top_back {
  border-radius: 0.5rem;
  padding: 2rem 4rem 2rem 4rem;
  background-color: rgba(221, 221, 221, 0.692);
  width: 60%;
  box-shadow: inset 0 10px 25px 0 rgba(0, 0, 0, 0.5);
}

.top_back > h1 {
  font-size: 2.5rem;
}

@media (max-width: 670px) {
  .top_back > h1 {
    font-size: 2rem;
  }
}

h1 {
  margin: 0px;
}

.block_unit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0rem 6rem 0rem 6rem;
  padding: 4rem;
  border-top: 0.5rem solid #ff3232e1;
}

@media (max-width: 670px) {
  .block_unit {
    flex-flow: column;
    margin: 0rem 0rem 0rem 0rem;
    padding: 0rem;
  }
}

.block_subtitle {
  padding-left: 5rem;
  font-size: 2rem;
}

@media (max-width: 670px) {
  .block_subtitle {
    padding-left: 0rem;
    font-size: 2rem;
    padding: 1rem 0rem 1rem 0rem;
  }
}

.block_unit > img {
  box-shadow: 15px 15px 0px 0 rgb(199, 199, 199);
  cursor: pointer;
}

@media (max-width: 670px) {
  .block_unit > img {
    padding: 2rem 0rem 1rem 0rem;
  }
}

.block_unit > h2 {
  padding-left: 5rem;
}

.modal {
  color: rgb(0, 0, 0);
  position: relative;
  background-color: rgb(185, 185, 185);
  left: 50%; /* 修正 */
  padding: 40px 40px 40px 40px;
  border-radius: 10px;
  max-width: 70%; /* 修正 */
  height: auto;
  text-align: center;
  transform: translate(-50%, -50%); /* 追加 */
  box-shadow: inset 0 10px 25px 0 rgba(0, 0, 0, 0.5);
}

.bottom {
  background-color: rgb(15, 15, 15);
  margin: 0;
  height: 5rem;
}

.add {
  color: aliceblue;
  text-align: center;
}
